<p style="color: green"><%= notice %></p>

<%= render @xabardor %>
<div>
  <%= link_to "Edit this xabardor", edit_xabardor_path(@xabardor) %> |
  <%= link_to "Back to xabardors", xabardors_path %>

  <%= button_to "Destroy this xabardor", @xabardor, method: :delete %>
</div>
<%#  %>